<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Workout App</title>
</head>
<body>

    <div class="ui inverted segment">
        <div class="ui container">

        <div class="ui inverted secondary menu">
                <div class="header item"><i class="running icon"></i> Workout Site</div>
                <a href="/" class="item active">Home</a>
                <a href="/workouts/new" class="item">New Workout</a>
                <div class="right menu">
                  <a href="/register" class="item">Sign Up</a>
                  <a href="/login" class="item">Log In</a>
                  <!-- <a href="/logout" class="item">Log Out</a> -->
                </div>
        </div>
        </div>
    </div>
    
